doctype 5
html
  head
    meta(charset='utf-8')
    block head
      link(rel='stylesheet', href='http://cdn.staticfile.org/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css')
      link(rel='stylesheet', href='/style/layout.css')
  body
    header.navbar-fixed-top
      .container
        nav.navbar.navbar-default.navbar-inverse(role='navigation')
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')= t('app.name')
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              block topnav
                li
                  a(href='#')= t('word.topic')
                li
                  a(href='#')= t('word.node')
                li
                  a(href='#')= t('word.user')
            form.navbar-form.navbar-left(role='search')
              .form-group
                input.form-control(type='text', placeholder='Search')
            ul.nav.navbar-nav.navbar-right
              if account
                li
                  a(href='/member/#{account.username}/')= account.username
              else
                li
                  a(href='/account/signup/')= t('word.signup')
                li
                  a(href='/account/login/')= t('word.login')

    #content.container
      .row
        .col-md-9
          if errorMsg
            .row
              .alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                strong= t('word.error')
                p= errorMsg
          block main
        #sidebar.col-md-3
          block sidebar

    #footer
      script(src='http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js')
      script(src='http://cdn.staticfile.org/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js')
