extends layout

prepend head
  title #{t("word.node")} | #{t('app.name')}

prepend sidebar
  .row
    header= t('word.createNode')
    p
      a(href='/node/create')= t('word.createNode')

block main
  header= t('word.node')
  ul.list-group
    for node in nodes
      li.list-group-item
        span.badge 0
        a(href='/node/#{node.name}')= node.title
        p= node.description

