extends layout

prepend head
  title #{t("word.topic")} | #{t('app.name')}
  :less
    .list-group-item {
      margin: 0 0 10px 0;
      padding: 0 0 10px 0;
      border: none;
      border-bottom: 1px solid #ddd;

      >a {
        float: left;
        margin-left: 5px;
        margin-right: 8px;
      }

      .list-content {
        margin-left: 61px;
      }
    }

block main
  header= t('word.topic')
  ul.list-group
    for topic in topics
      li.list-group-item
        a(href='/member/#{topic.author.username}/')
          img(src='#{topic.author.avatar}?s=58')
        .list-content
          p
            a(href='/topic/#{topic._id}/')= topic.title
            span.badge.pull-right= topic.replys
          p.
            作者 #{topic.author.username}
